.material-icons {
  font-size: 28px;
  color: #efff6a;
}

#aWrap {
  font-family: system-ui;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  background-image: none;
  border: 1px solid #000000;
  background-color: #111111;
  border-radius: 5%;
}


#aPlay {
  padding: 0;
  margin: 0;
  background: 0;
  border: 0;
  cursor: pointer;
}

#aCron {
  font-size: 12px;
  color: #c0ffee;
}

#aPlayIco {
  color: #c0ffee;
  border: 1px solid #111;
  background-color: #111;
  border-radius: 100%;
}

#aWrap input[type="range"] {
  box-sizing: border-box;
  appearance: none;
  border: 1.5px solid #111111;
  outline: none;
  box-shadow: none;
  width: 100%;
  padding: 0;
  margin: 0;
  background: 0;
  border-radius: 5%;
}
#aWrap input[type="range"]::-webkit-slider-thumb {
  appearance: none;
}

#aWrap input[type=range]::-webkit-slider-runnable-track {
  background: #222222;
}
#aWrap input[type=range]::-moz-range-track {
  background: #333333;
}

#aWrap input[type=range]::-webkit-slider-thumb {
  width: 16px; height: 24px;
  border: 2px solid #111;
  background: #666666;
}
#aWrap input[type=range]::-moz-range-thumb {
  width: 16px; height: 16px;
  border: 0;
  background: #999999;
}

#aVolIco {
  color: #c0ffee;
  border: 1px solid #111;
  background-color: #111;
  border-radius: 100%;;
}

#aList {
  width: 100%;
  background: #111111;
  height: 250px;
  overflow-y: scroll;
  text-align: left;
  font-family: system-ui;
  opacity: 0.9;
  border: #000000 1px solid;
}

.aRow {
  cursor: pointer;
  padding: 9px 9px;
  background: #222222;
  border: 1px solid #333333;
  margin-bottom: 5px;
  color: #ffffff;
  font-weight: bold;
}

.aRow:hover {
  color: #c0ffee;
  background-color: #111111;
  border: 1px solid #c0ffee;
}

.aRow.now {
  color: #c0ffee;
  background-image: url(../img/ap.png);
  border: 1px solid #c0ded9;
}

.openbtn {
  cursor: pointer;
  background-color: #111;
  color: white;
  border: 1px solid #222222;
  width: 28px;
  font-size: 20px;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

	a:hover {
		cursor: pointer;
	}

	body {
		background: url(../img/bg.gif) no-repeat center fixed;
		font: normal 16px/1.4 Arial;
		margin: 0;
		color: #fff;
		background-color: #111;
		-webkit-background-size: cover;
  		-moz-background-size: cover;
  		-o-background-size: cover;
  		background-size: cover;
		min-height: 100vh;
		min-height: 100dvh;
		display: flex;
		flex-direction: column;
	}

	::selection {
		background: #c0ded9;
		color: #111;
	}

	a {
		color: inherit;
		text-decoration: none;
	}

	a:hover {
		text-decoration: none;
		color: #c0ffee;
		font-weight: bold;
	}

	main {
		background: url(../img/bg.png);
		margin: auto;
		padding: 30px;
		gap: 20px;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		align-items: flex-start;
		min-width: 500px;
		max-width: 500px;
		border: 1.5px solid #c0ffee;
		border-radius: 9px;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.container b {
		font-size: 18px;
		display: block;
		margin-bottom: 5px;
	}

	.links {
		display: flex;
		flex-wrap: wrap;
		gap: 9px;
	}

	.link {
		border: 1.5px solid #c0ded9;
		display: flex;
		align-items: center;
		gap: 5px;
		border-radius: 6px;
		padding: 6px 8px;
		line-height: 1;
		font-weight: bold;
		color: #fff;
	}

	.link:hover {
		text-decoration: none;
		border-color: #c0ffee;
		background-color: #c0ded9;
		color: #111;
		font-weight: bold;
	}
