table.pix {background: none;}
.die {font-family: system-ui; font-size: 12px; color: #000000;}
.head {font-family: system-ui; font-size: 24px; color: #000000;}
.di {font-family: system-ui; font-size: 1px; color: #000000;}
a:link {  text-decoration: none}
a:active {  text-decoration: none}
a:visited {  text-decoration: none}
a:hover {  text-decoration: none; color: #c0ffee;}
body {margin-top: 0px; margin-left: 0px; margin-right: 0px;}
.box {font-family: system-ui; background: #91a6a0; font-size: 12px; border: 1px; border-style: solid; border-color: #000000;}

.material-icons {
  font-size: 28px;
  color: #efff6a;
}

#aWrap {
  font-family: system-ui;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  background-image: url("../img/bg.png");
	background-repeat: repeat;
  position: fixed;
  bottom: 0;
}

#aPlay {
  padding: 0;
  margin: 0;
  background: 0;
  border: 0;
  cursor: pointer;
}

#aCron {
  font-size: 14px;
  color: #c0ffee;
  margin: 0 10px;
}

#aPlayIco {
  color: #c0ded9;
}

#aWrap input[type="range"] {
  box-sizing: border-box;
  appearance: none;
  border: none;
  outline: none;
  box-shadow: none;
  width: 150px;
  padding: 0;
  margin: 0;
  background: 0;
}
#aWrap input[type="range"]::-webkit-slider-thumb {
  appearance: none;
}

#aWrap input[type=range]::-webkit-slider-runnable-track {
  background: #333333;
}
#aWrap input[type=range]::-moz-range-track {
  background: #333333;
}

#aWrap input[type=range]::-webkit-slider-thumb {
  width: 16px; height: 16px;
  border: 0;
  background: #fff;
}
#aWrap input[type=range]::-moz-range-thumb {
  width: 16px; height: 16px;
  border: 0;
  background: #999999;
}

#aVolIco {
  margin: 0 10px;
  color: #c0ded9;
}

#aList {
  width: 100%;
  background: #111111;
  height: 420px;
	overflow-y: scroll;
	text-align: left;
  font-family: system-ui;
}

.aRow {
  cursor: pointer;
  padding: 10px 10px;
	background: #222222;
	border: 1px solid #333333;
	margin-bottom: 5px;
  color: #000001;
}

.aRow:hover {
  color: #c0ded9;
  background: #111111
}

.aRow.now {
  color: #c0ffee;
  background: #111111;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #222222;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  opacity: .9;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  cursor: pointer;
  background-color: #111;
  color: white;
  border: 1px solid #222222;
  width: 28px;
  font-size: 20px;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}
