html {
	box-sizing: border-box;
	scrollbar-width: thin;
	-webkit-tap-highlight-color: transparent;
}

*, *:before, *:after {
	box-sizing: inherit;
}

html,
body {
	height: 100%;
}

body {
	font: normal 24px/1.4 system-ui;
	margin: 0;
	display: flex;
	color: hsl(140, 7%, 80%);
	background-image: url("bg.gif");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	backdrop-filter: blur(8px);
}

a {
	color: hsl(65, 90%, 69%);
}

a:hover,
a:focus {
	color: #FFF;
}

a:focus {
	text-decoration: none;
}

main {
	margin: auto;
	padding: 30px;
}

main h1 {
	font-size: 80px;
	font-weight: 400;
	margin: 0;
	line-height: 1;
	color: hsl(180, 100%, 45%);
}

main h2 {
	font-size: 18px;
	font-weight: 400;
	margin: 0;
	color: hsl(180, 7%, 53%);
}

main p {
	margin: 0;
	margin-top: 30px;
}

.link + .link {
	margin-top: 10px;
}

.music {
	margin-top: 40px;
	font-size: 15px;
	padding: 7px 15px;
	display: inline-block;
	text-decoration: none;
	border-radius: 6px;
	color: hsl(140, 7%, 80%);
	background-color: rgba(255, 255, 255, .05);
}

.music:hover,
.music:focus {
	background-color: hsl(100, 80%, 50%);
	text-decoration: underline;
	color: #000000;
}

.music a:not(:hover) {
	color: inherit;
}

@media (max-width: 600px) {
	main h1 {
		font-size: 40px;
	}
}
